<div class="steppers-container row">
  <nb-card class="stepper-card" size="medium">
    <nb-card-body>
      <div class="row">
        <div class="col-lg-12">
          <form (ngSubmit)="submit()" [formGroup]="itemForm">
            <nb-stepper orientation="horizontal">
              <nb-step label="Chemical details">
                <h3>Chemical Details</h3>
                <div class="margin row">

                  <div class="col-md-5">
                    <app-input-default
                      [field]="code" placeholder="Enter item code"
                      title="Item Code"></app-input-default>

                    <app-input-default
                      [field]="name" placeholder="Enter chemical name"
                      title="Chemical Name"></app-input-default>

                    <app-input-textarea-default
                      [field]="description" placeholder="Enter description"
                      title="Description"></app-input-textarea-default>

                    <app-input-date-picker-future-default
                      [field]="doexpire" placeholder="Select expire date"
                      title="Expire Date"
                    ></app-input-date-picker-future-default>
                  </div>

                  <div class="col-md-5" style="margin-top: 40px">
                    <app-image-upload-default (changeEvent)="imageUploadEvent($event)"
                                              defaultImage="../../../../../assets/images/image-placeholder.png">
                    </app-image-upload-default>
                  </div>

                </div>
                <button disabled nbButton nbStepperNext>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Price details">
                <h3>Price Details</h3>
                <div class="margin row">

                  <div class="col-md-5">

                    <app-input-amount-default
                      [field]="sprice" placeholder="Enter price"
                      title="Price"></app-input-amount-default>

                    <app-input-amount-default
                      [field]="lastprice" placeholder="Enter last price"
                      title="Last Price"></app-input-amount-default>

                    <label class="form-label">Danger Level</label>
                    <div class="form-group">
                      <nb-select (selectedChange)="dangerLevelStateChange($event)" fullWidth placeholder="Select Level"
                                 selected="Low">
                        <nb-option *ngFor="let item of dangerLevels" title="{{item}}" value="{{item}}">
                          {{item}}
                        </nb-option>
                      </nb-select>
                    </div>

                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">

                    <app-input-default
                      [field]="testperiod" placeholder="Enter test periods"
                      title="Test Periods"></app-input-default>

                    <label class="form-label">Unit</label>
                    <div class="form-group">
                      <nb-select (selectedChange)="unitStateChange($event)" fullWidth placeholder="Select Unit"
                                 selected="Kilogram">
                        <nb-option *ngFor="let item of units" title="{{item}}" value="{{item}}">
                          {{item}}
                        </nb-option>
                      </nb-select>
                    </div>

                    <app-input-default
                      [field]="weightvolume" placeholder="Enter weight or volume"
                      title="Weight / Volume"></app-input-default>

                  </div>

                </div>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Inventory details">
                <h3>Inventory Details</h3>
                <div class="margin">

                  <app-input-default
                    [field]="initqty" placeholder="Enter initial quantity"
                    title="Initial Quantity"></app-input-default>

                  <app-input-default
                    [field]="qty" placeholder="Enter available quantity"
                    title="Available Quantity"></app-input-default>

                  <app-input-default
                    [field]="rop" placeholder="Enter reorder quantity"
                    title="Reorder Quantity"></app-input-default>

                </div>
                <button nbButton nbStepperPrevious>prev</button>
                <button [disabled]="!itemForm.valid" nbButton nbStepperNext status="success" style="float: right">
                  submit
                </button>
              </nb-step>
            </nb-stepper>
          </form>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
