<nb-auth-block>
  <h2 class="title">Sign In</h2>
  <small class="form-text sub-title">Hello! Sign in with your email</small>

  <form (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="nope">

    <app-input-default
      [field]="userName" placeholder="Enter email"
      title="Email"></app-input-default>

    <app-input-default
      [field]="password" placeholder="Enter password"
      title="Password" type="password"></app-input-default>

    <button nbButton fullWidth [disabled]="!loginForm.valid" [nbSpinner]="loading" class="btn btn-block btn-hero-success"
            nbSpinnerStatus="info">
      Sign In
    </button>
  </form>

  <section class="another-action" aria-label="Sign up">
    Don't have an account? <a class="text-link" routerLink="../register">Sign Up</a>
  </section>

</nb-auth-block>
