<nb-card>
  <nb-card-header>
    Customer Table
  </nb-card-header>

  <nb-card-body>
    <div class="row" style="margin-bottom: 15px; margin-left: 0px;">
      <nb-search type="rotate-layout" tag="rotate-layout"></nb-search>
      <span style="margin-left: 10px;"><button nbButton (click)="resetFilter()" style="color: #3366ff">Clear Search</button></span>
    </div>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (createConfirm)="onCreateConfirm($event)" (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
