<div>
  <nb-card>
    <nb-card-header>
      <nb-badge *ngIf="item.avalableQty == 0" text="Sold-Out" status="danger" position="top right"></nb-badge>
      <div class="row">
        <div class="col-md-12">
          <h5 class="text-success">{{item.name}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-info">{{item.avalableQty}} available</div>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <app-image-upload-default
            [image]="item.photo" [showButton]="showUploadButton"
          ></app-image-upload-default>
        </div>
      </div>

      <div *ngIf="item.lastprice >= item.sprice" class="row" style="margin-top: 10px">
        <div class="col-md-12">
          <h3 class="text-success">{{item.sprice.toLocaleString('en-US', {style: 'currency', currency: 'LKR'})}}</h3>
        </div>
      </div>

      <div *ngIf="item.lastprice < item.sprice" class="row" style="margin-top: 10px">
        <div class="col-md-6" style="text-decoration: line-through">
          <h3 class="text-success">{{item.sprice.toLocaleString('en-US', {style: 'currency', currency: 'LKR'})}}</h3>
        </div>
        <div class="col-md-6">
          <h3 class="text-success"
              style="background-color: yellow; float: right">{{item.lastprice.toLocaleString('en-US', {
            style: 'currency',
            currency: 'LKR'
          })}}</h3>
        </div>
      </div>

      <div class="row" style="margin-top: 5px">
        <div class="col-md-12">
          <p>{{item.description}}</p>
        </div>
      </div>

      <div class="row" style="margin-top: 5px">
        <div class="col-md-4">
          <button [disabled]="item.avalableQty == 0" (click)="buyNow(item)" nbButton>BUY NOW</button>
        </div>
        <div class="col-md-4">
          <app-input-spinner-default
            [field]="qty" placeholder="Quantity"
          ></app-input-spinner-default>
        </div>
        <div class="col-md-4">
          <button [disabled]="item.avalableQty == 0" (click)="addToCart(item)" nbButton style="float: right">ADD TO CART</button>
        </div>
      </div>

    </nb-card-body>
  </nb-card>
</div>
