<div class="steppers-container row">
  <nb-card class="stepper-card" size="medium">
    <nb-card-body>
      <div class="row">
        <div class="col-lg-12">
          <nb-stepper orientation="horizontal">
            <nb-step label="Item Details">
              <h3>Item Details</h3>

              <app-item-list-edit
                (changeEvent)="purchaseItemListStateChange($event)"
                [parentFormIsValid]="purchaseForm.valid"
                [purchaseId]="purchaseId"
              ></app-item-list-edit>

              <button disabled nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step label="Purchase Details">
              <h3>{{title}} Purchase Details</h3>
              <form [formGroup]="purchaseForm">
                <div class="margin row">

                  <div class="col-md-6">
                    <app-input-default
                      [disableProperty]="true"
                      [field]="code" placeholder="Enter purchase code"
                      title="Purchase Code"></app-input-default>

                    <app-input-default
                      [disableProperty]="true"
                      [field]="description" placeholder="Enter purchase description"
                      title="Purchase Description"></app-input-default>

                    <app-input-default
                      [disableProperty]="true"
                      [field]="total" placeholder="Enter purchase total"
                      title="Total Amount"></app-input-default>
                  </div>

                  <div class="col-md-6">
                    <app-input-default
                      [disableProperty]="true"
                      [field]="doordered" placeholder="Enter order date"
                      title="Ordered Date"></app-input-default>

                    <app-input-default
                      [disableProperty]="true"
                      [field]="dorequired" placeholder="Enter required date"
                      title="Required Date"></app-input-default>
                  </div>

                </div>
              </form>

              <button nbButton nbStepperPrevious>prev</button>
            </nb-step>
          </nb-stepper>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
