<div style="max-width: 300px">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-12">
          <h5 class="text-success">{{item.name}}</h5>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>

      <div class="row">
        <div class="col-md-12">
          <h3 class="text-success">{{item.lastprice.toLocaleString('en-US', {style: 'currency', currency: 'LKR'})}}</h3>
          <app-input-spinner-default
            title="Quantity"
            (changeEvent)="qtyOnChange($event)"
            [field]="qty" placeholder="Quantity"
          ></app-input-spinner-default>
          <button (click)="removeFromCart()" status="danger" nbButton>REMOVE</button>
        </div>
      </div>

    </nb-card-body>
  </nb-card>
</div>
