<div class="steppers-container row">
  <nb-card class="stepper-card" size="medium">
    <nb-card-body>
      <div class="row">
        <div class="col-lg-12">
          <form (ngSubmit)="submit()" [formGroup]="employeeForm">
            <nb-stepper orientation="horizontal">
              <nb-step label="Employee details">
                <h3>Employee Details</h3>
                <div class="margin row">

                  <div class="col-md-5">
                    <app-input-default
                      [field]="code" placeholder="Enter employee code"
                      title="Employee Code"></app-input-default>

                    <app-input-default
                      [field]="userName" placeholder="Enter email"
                      title="Email"></app-input-default>

                    <app-input-generated-password-default
                      [field]="password" [userName]="userName" placeholder="Generated password"
                      prefix="employee"
                      title="Password"></app-input-generated-password-default>

                    <app-input-default
                      [field]="nic" placeholder="Enter NIC"
                      title="NIC"></app-input-default>
                  </div>

                  <div class="col-md-5" style="margin-top: 40px">
                    <app-image-upload-default (changeEvent)="imageUploadEvent($event)"
                                              defaultImage="../../../../../assets/images/image-placeholder.png">
                    </app-image-upload-default>
                  </div>

                </div>
                <button disabled nbButton nbStepperNext>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Other details">
                <h3>Other Details</h3>
                <div class="margin row" style="margin-left: 0px">

                  <div class="col-md-5">

                    <label class="form-label">Title</label>
                    <div class="form-group">
                      <nb-select (selectedChange)="nameTitleStateChange($event)" fullWidth placeholder="Select Type"
                                 selected="Mr">
                        <nb-option *ngFor="let item of nameTitleTypes" title="{{item}}" value="{{item}}">
                          {{item}}
                        </nb-option>
                      </nb-select>
                    </div>

                    <app-input-default
                      [field]="name" placeholder="Enter full name"
                      title="Full Name"></app-input-default>

                    <label class="form-label">Gender</label>
                    <div class="form-group">
                      <nb-select (selectedChange)="genderStateChange($event)" fullWidth placeholder="Select Type"
                                 selected="Male">
                        <nb-option *ngFor="let item of genderTypes" title="{{item}}" value="{{item}}">
                          {{item}}
                        </nb-option>
                      </nb-select>
                    </div>

                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">

                    <label class="form-label">Civil Status</label>
                    <div class="form-group">
                      <nb-select (selectedChange)="civilStateChange($event)" fullWidth placeholder="Select Type"
                                 selected="Single">
                        <nb-option *ngFor="let item of civilStatusTypes" title="{{item}}" value="{{item}}">
                          {{item}}
                        </nb-option>
                      </nb-select>
                    </div>

                    <label class="form-label">Designation</label>
                    <div class="form-group">
                      <nb-select (selectedChange)="designationStateChange($event)" fullWidth placeholder="Select Designation"
                                 selected="Maintenance Staff">
                        <nb-option *ngFor="let item of designations" title="{{item}}" value="{{item}}">
                          {{item}}
                        </nb-option>
                      </nb-select>
                    </div>

                    <app-input-date-picker-max-except-today-default
                      [field]="dobirth" placeholder="Select date of birth"
                      title="Date of birth"></app-input-date-picker-max-except-today-default>

                  </div>

                </div>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Contact details">
                <h3>Contact Details</h3>
                <div class="margin row" style="margin-left: 0px">

                  <div class="col-md-5">

                    <app-input-default
                      [field]="address" placeholder="Enter address"
                      title="Address"></app-input-default>

                    <app-input-default
                      [field]="mobile" placeholder="Enter mobile no"
                      title="Mobile No"></app-input-default>

                    <app-input-default
                      [field]="land" placeholder="Enter telephone no"
                      title="Telephone No"></app-input-default>

                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5">

                    <app-input-default
                      [field]="callingname" placeholder="Enter calling name"
                      title="Calling Name"></app-input-default>

                    <app-input-date-picker-max-default
                      [field]="dorecruite" placeholder="Select date of recruited"
                      title="Date of recruited"></app-input-date-picker-max-default>

                  </div>

                </div>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
              </nb-step>
              <nb-step label="Assign Roles">
                <h3>Assign Roles</h3>

                <div class="row scroll">
                  <div *ngFor="let role of roles" class="col-md-12"
                       style="margin-bottom: 0px; text-align: left;">
                    <label style="margin-left: 15px">
                      <input (change)="roleStateChange($event, role)"
                             [id]="role.name"
                             [name]="role.name"
                             type="checkbox">
                      <span class="box search-check"
                            style="margin-left: 10px">{{role.name.replace('_', ' ').toUpperCase()}}</span>
                    </label>
                  </div>
                </div>

                <button nbButton nbStepperPrevious>prev</button>
                <button style="float: right" [disabled]="!employeeForm.valid" nbButton nbStepperNext status="success">submit</button>
              </nb-step>
            </nb-stepper>
          </form>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
