<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-6">
        <h5 class="text-info">Order Items List</h5>
      </div>
      <div class="col-md-6">
        <button [hasPermissionHide]="'INV-ORD-ALL'" style="float: right; margin-left: 10px" nbButton status="success" (click)="activate()">Activate</button>
        <button [hasPermissionHide]="'INV-ORD-ALL'" style="float: right" nbButton status="danger" (click)="suspend()">SUSPEND</button>
      </div>
    </div>
  </nb-card-header>
  <div class="row">
    <div *ngFor="let orderItem of orderItems" class="col-md-12">
      <app-list-item-view
        [itemId]="orderItem.orderItemId.itemId"
        [qty]="orderItem.qty"
        defaultImage="../../../../../assets/images/image-placeholder.png"
      ></app-list-item-view>
    </div>
  </div>
</nb-card>
