<nb-auth-block>
  <h2 class="title">Register</h2>
  <small class="form-text sub-title">Hello! Sign up with your details</small>

  <form (ngSubmit)="register()" [formGroup]="registerForm" autocomplete="nope">

    <app-input-default
      [field]="name" placeholder="Enter full name"
      title="Full Name"></app-input-default>

    <app-input-default
      [field]="userName" placeholder="Enter email"
      title="Email"></app-input-default>

    <app-input-default
      [field]="password" placeholder="Enter password"
      title="Password" type="password"></app-input-default>

    <app-input-comparator-default
      [comparableField]="password" [field]="confirmPassword" placeholder="Enter confirm password"
      title="Confirm Password" type="password"></app-input-comparator-default>

    <app-input-default
      [field]="address" placeholder="Enter address"
      title="Address"></app-input-default>

    <app-input-default
      [field]="contact1" placeholder="Enter mobile no"
      title="Mobile No"></app-input-default>

    <app-input-default
      [field]="contact2" placeholder="Enter telephone no"
      title="Telephone No"></app-input-default>

    <app-input-default
      [field]="fax" placeholder="Enter fax no"
      title="Fax No"></app-input-default>

    <button [disabled]="!registerForm.valid" [nbSpinner]="loading" class="btn btn-block btn-hero-success" nbButton
            nbSpinnerStatus="info">
      Sign Up
    </button>
  </form>

  <section aria-label="Sign in" class="another-action">
    Already have an account? <a class="text-link" routerLink="../login">Log in</a>
  </section>

</nb-auth-block>

