<div>
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-6">
          <h5 class="text-info">Order Payment : <span class="text-dark">{{amount.toLocaleString('en-US', {style: 'currency', currency: 'LKR'})}}</span></h5>
        </div>
        <div class="col-md-6">
          <button style="float: right" nbButton status="info" (click)="payment()" [disabled]="!orderPaymentForm.valid">PAY NOW</button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>

      <div class="row">
        <div class="col-md-12">
          <h5 class="text-success">Order Amount : {{amount.toLocaleString('en-US', {style: 'currency', currency: 'LKR'})}}</h5>
        </div>
        <div class="col-md-12">

          <app-input-default
            [field]="cardNo" placeholder="Enter Card No"
            title="Card No"></app-input-default>

          <app-input-date-picker-future-default
            [field]="expiry" placeholder="Select Card Expiry"
            title="Card Expiry"
          ></app-input-date-picker-future-default>

          <app-input-default
            [field]="cardHolderName" placeholder="Enter Card Holder Name"
            title="Card Holder Name"></app-input-default>

          <app-input-default
            [field]="cvv" placeholder="Enter CVV"
            title="CVV"></app-input-default>

        </div>
      </div>

    </nb-card-body>
    <nb-card-footer >
    </nb-card-footer>
  </nb-card>
</div>
