<div class="row">
  <div class="col-12">
    <nb-card size="small">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Inventory Item">
          <h3>Inventory Item</h3>

          <div class="row">
            <div class="col-md-12">
              <app-list-item-view
                [itemId]="itemId"
                defaultImage="../../../../../assets/images/image-placeholder.png"
              ></app-list-item-view>
            </div>
          </div>

        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
