<div class="row">
  <div class="col-12">
    <nb-card size="small">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Disposal Items List">
          <div class="row">
            <div class="col-md-6">
              <h3>Disposal Item List</h3>
            </div>
            <div *ngIf="disposal.status == 5" class="col-md-6">
              <button (click)="approve()" [hasPermissionHide]="'INV-INV-DIS-CR'" nbButton
                      status="success" style="float: right; margin-left: 10px">APPROVE
              </button>
              <button (click)="suspend()" [hasPermissionHide]="'INV-INV-DIS-CR'" nbButton status="danger"
                      style="float: right">SUSPEND
              </button>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let disposalInventory of disposal.disposalInventoryList" class="col-md-12">
              <app-list-item-view
                [itemId]="disposalInventory.disposalInventoryId.inventoryId"
                [qty]="disposalInventory.qty"
                defaultImage="../../../../../assets/images/image-placeholder.png"
              ></app-list-item-view>
            </div>
          </div>

        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
